.cardManage {
    height: 100%;
    box-sizing: border-box;
    .cardManage_tables {
        .cardManage_tableContent {
            box-sizing: border-box;
            table {
                height: calc(100% - 50px);
                .smallImag {
                    height: 60px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
        }
    }
}