.accountManage {
    height: 100%;
    box-sizing: border-box;

    h2 {
        margin: 10px;
        margin-left: 0;
        height: 31px;
    }

    .tablePanel {
        height: calc(100%-50px);

        .table {
            height: 120%;
            overflow: hidden;

            .ant-table-row {
                td {
                    word-break: break-all;
                }
            }
        }

        .tool {
            text-align: right;

            button {
                margin-right: 5px;
            }

            margin-bottom: 10px;
        }
    }
}