.home {
  --padding: 20px;
  --margin: 20px;

  .content {
    box-sizing: border-box;
    height: calc(100% - 64px);
    overflow: hidden;
    background-color: #fff;
    padding: var(--padding);
    margin: var(--margin);
  }

  .header{
    .logout{
      float:right;
      font-size:18px;
      margin-right:var(--margin);
    }
    .userName{
      font-size:14px;
      margin-right:var(--margin);
      float:right;
    }
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    line-height: 32px;
    text-align: center;

    color: white;
  }
}
