.userManage {
    height: 100%;
    box-sizing: border-box;
    .userManage_tables {
        .userManage_tableContent {
            box-sizing: border-box;
            table {
                height: calc(100% - 50px);
                .userImage {
                    height: 60px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
        }
    }
}